/* 
--------------------------
HEADER
--------------------------
 */

.main-header {
    display: flex;
    flex-direction: column-reverse;
    

    @media screen and (min-width: 992px) {
        & {
            flex-direction: column;
        }
        
    }
}

#menu {
    display: none;

    /* hacer funcionar el checkboc -> hacer funcionar el menu hamburguesa */
    &:checked + .nav-bar{    
        display: block;     
    }

    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: yellow;
    } 
}


/* 
--------------------------
NAVBAR
--------------------------
 */
.nav-bar {
    background-color: aquamarine;
    display: none; 

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        border: 1px solid blue;
    }

    &__nav-item {
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        padding: 1rem 2rem;
        background-color: purple;
        text-decoration: none;
    }

    @media  screen and (min-width: 992px) {
        &{
            display: block;
        }

        &__nav-list {
            flex-direction: row;
        }

    }


}


/* 
--------------------------
NAVBAR
--------------------------
 */
.search-bar{
    display: flex;
    justify-content: space-around;
    background-color: olivedrab;

    &__logo-container {
        width: 8rem;
        height: 3.75rem;
    }

    &__form-container {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-grow: 1;
        padding: 1rem;
        background-color: gold;
    }

    &__form-label {
        
    }

    &__form-search {
        background-color: palevioletred;
    }

    &__carrito-container {
        flex: 0 0 3rem; /* shorthand: buscar bien que es esto pero es como que define el tamaño */
    }
}

/* 
--------------------------
menu-toogle
--------------------------
 */
.menu-toogle {
    display: block;
    background-color: red;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;

    &__label {
        display: block;
        height: 100%;
        background-color: black;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: 0.2rem;
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
    }

    &__top-bread {
        top: .8rem;
    }

    &__meat {
        top: 50%; /* centrado verticalmente */
        margin-top: -.1rem;
    }

    &__bottom-bread{
        bottom: .8rem;
    }

    @media screen and (min-width:992px) {
        & {
            display: none;
        }
    }
}